:root {
  --background: rgb(225, 227, 255);
  --darkpurple: #6d4057;
  --link-hover: rgb(0, 0, 0);
  --link-visited: rgb(73, 43, 97);
  --darkrose: rgb(189, 96, 108);
  --dark-grey: #2b2b2b;
  --solidpink: rgb(225, 192, 203);
  --white: white;
  --lightblue: solid rgb(194, 217, 224);
  --sun1: #ec9164;
  --sun2: #fcffad;
  --sun3: #9e4718;
  --headerfontsize: 30px;
  --midwidth: 500px;
}

body {
    background-color: var(--background);
    font-family: "EB+Garamond", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

a:link {
    color: var(--darkpurple);
}
a:visited {
    color: var(--link-visited);
}
a:hover, a:focus {
    color: var(--link-hover);
}
a:active {
    color: var(--darkrose);
}


h1 {
    font-size: var(--headerfontsize);
    font-weight: 700;
    color: var(--darkrose);
    text-align: center;
}

h2 {
    font-size: var(--headerfontsize);
    font-weight: 700;
    color: rgb(90, 58, 62);
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.2
}



span{
    border: 2px var(--lightblue);
    margin: 5px;
    padding: 2px;
    font-style: italic;
}

.profile-portrait{
    border: 5px var(--solidpink);
    margin: 10px;
    float: left;
    border-radius: 50%;
}

.page-header {
    border: 5px var(--solidpink);
    text-align: left;
    margin: 10px auto 10px;
    padding: 10px;
    width: var(--midwidth);
    display: flex;
    flex-direction: column;

}
.page-footer {   
    border: 5px var(--solidpink);
    text-align: center;
    margin: 10px auto 10px;
    padding: 10px;
    width: var(--midwidth);
    clear:both;
    display:flex;
    flex-direction: column;
} 

.profile {
    max-width: 700px;
    margin: 0 auto;
    border: 5px var(--solidpink);
    text-align: center;
    margin: 10px auto 10px;
    padding: 5px;
    width: var(--midwidth);
    
}

* {
    box-sizing: border-box;
}
.peachlogo {
    height: 70px;
    width: 70px;
}

.about-text{
    border: 5px var(--solidpink);
    text-align: left;
    margin: 10px auto 10px;
    padding: 10px;
    width: var(--midwidth);
}
.contactme {
    border: 5px var(--solidpink);
    text-align: left;
    margin: 10px auto 10px;
    padding: 10px;
    width: var(--midwidth);
}

.gridlayout {
    max-width: 700px;
    margin: 0 auto;
    border: 5px var(--solidpink);
    text-align: center;
    margin: 10px auto 10px;
    padding: 5px;
    width: var(--midwidth);
}
.flex-container {
    display: flex;
    background-color:var(--darkrose);
}
.flex-item1, .flex-item2, .flex-item3, .flex-item4 {
    background-color: var(--darkpurple);
    height: 75px;
    margin: 10px;
    text-align: center;
    color: var(--white);
    line-height: 75px;
    flex-basis: 200px;
}

.navigation-list {
    list-style-type: none;
    }
    .navigation-list li {
        display: inline-block;
        margin-left: 15px;
    }

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 20px;
    margin: 50px;
}

.grid__item {
    background-color: var(--solidpink);

}

@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
 
.button, button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: var(--solidpink);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px var(--darkrose);
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  
  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

  @keyframes color-change {
    0% {
      fill: var(--sun1);
    }
    50% {
      fill: var(--sun2);
    }
    100% {
      fill: var(--sun2);
    }
  }
  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }
  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }
  @keyframes cloud-move-reverse {
    from {
      transform: translate(446px, 48px);
    }
    to {
      transform: translate(100px, 48px);
    }
  }
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }